/* Classifoo Style */

/* Make the headings a little smaller.
The default font sizes are too large, make it look better by decreasing the size. Here is a list of default font sizes that I found: http://zuga.net/articles/html-heading-elements/ */

h1 { font-size: 1.5em ; }
h2 { font-size: 1.17em ; }
h3 { font-size: 1em ; }
h4 { font-size: 0.83em ; }
h5 { font-size: 0.67em ; }
h6 { font-size: 0.5em ; }

/* Make the button a bigger 
This will make it clearer to see both on PCs and on mobile. */
input[type=button], input[type=submit], input[type=reset] {
	display:block;
	margin-top:20px;
	margin-bottom:20px;
	padding:10px;
}

li {
	padding-bottom: 10px;
}